<div class="college-dynamics">
    <div class="title">
        立即报名
    </div>

    <div class="content">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    报考省份
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <select class="form-control" v-model="selected.province">
                        <option v-for="option in provinceList" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    学习中心
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <select class="form-control" v-model="selected.learnCenter">
                        <option v-for="option in learnCenterList" v-bind:value="option.LC_ID">
                            {{ option.LC_Name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    报考层次
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <select class="form-control" v-model="selected.level">
                        <option v-for="option in levelList" v-bind:value="option.value">{{ option.text }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    报考专业
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <select class="form-control" v-model="selected.subject">
                        <option v-for="option in subjectList" v-bind:value="option.name">{{ option.name }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    姓名
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="请输入姓名" v-model="selected.name">
                </div>
            </div>
        </div>

        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    联系方式
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="请输入手机号" v-model="selected.tel">
                </div>
            </div>
        </div>

        <div class="tip">
            <p v-if="err.code != 0" class="error">
                {{ err.msg }}
            </p>
            <p v-else class="success">
                {{ err.msg }}
            </p>
        </div>
    </div>

    <div class="footer">
        <button v-if="isAllSelected" type="button" class="btn btn-success btn-block" @click="submit">
            提交
        </button>
        <button v-else="isAllSelected" type="button" class="btn disabled btn-block">
            提交
        </button>
    </div>

</div>
