<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0,maximum-scale=1.0,minimum-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/fe/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/fe/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/fe/css/layout.css">
</head>


<body>

    <div id="app">
    </div>

</body>

<script src="/fe/lib/jq/jquery-3.2.1.min.js"></script>
<script src="/fe/lib/vue/vue.js"></script>
<script src="/fe/lib/bootstrap/js/bootstrap.min.js"></script>
<script src=<%= url %>></script>
