<div class="person-info">
    <div class="title">
        我的考场
    </div>

    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-xs-6">
                    时间
                </div>
                <div class="col-xs-6">
                    考点
                </div>
            </div>

            <div v-if="room.length > 0" class="row">
                <div v-for="item in room">
                    <div class="col-xs-6">
                        <strong>
                            {{ item.time }}
                        </strong>
                    </div>

                    <div class="col-xs-6">
                        {{ item.region }}
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="col-xs-6">
                    <strong>
                        暂无考试安排。
                    </strong>
                </div>
            </div>

        </div>
    </div>

</div>