<div class="study-center">
    <div class="title">
        学习中心查询
    </div>

    <div class="content">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-4 control-label">
                    省份
                    <span class="necessary">*</span>
                </label>
                <div class="col-xs-8">
                    <select class="form-control" v-model="province">
                        <option v-for="option in provinceList" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="result-wrapper">
        <ul class="list-group">
            <li v-for="item in learnCenterList" class="list-group-item">
                {{ item.LC_Name }}
            </li>
        </ul>
    </div>
</div>
